//CHANGE DEFAULT VARIABLES VALUES

$primary: #ffffff;
$secondary: #f8f8f8;
$black: #000000;
$yellow:  #F9B200;
$backgroundFont: #ECECEC;

$grid-columns: 10 !default;
$grid-gutter-width: 20px !default;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.0,
  6: $spacer * 2.25,
  7: $spacer * 2.5,
  8: $spacer * 5,
  9: $spacer * 7,
);


$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.25;
$h3-font-size:                $font-size-base * 2.0 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;

$font-weight-light:           400 !default;
$font-weight-normal:          500 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          700 !default;



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "../bootstrap-4.6.0/scss/bootstrap.scss";

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

h3, h4 {
    font-weight: $font-weight-bolder;
}


//ÚVOD
.uvod {
    height: 700px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
    ), 
    url("../img/background-image-main.jpg");

    h1, h5 {
        font-weight: $font-weight-bolder;
    }

}

#navbar {
    padding: 27px 0;
    z-index: 1;

    .active a {
        color: $yellow;
        font-weight: $font-weight-bolder;
    }

    .nav-item:hover {
        background-color: $yellow;
        
        a {
            color: $primary;
        }
    }

    .nav-link {
        color: black;
        font-weight: $font-weight-light;
    }
}

.nav-item {
    width: 20%;
}

.heading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    h1 {
        font-size: 8vw;
    }
}

.btn, .btn-primary {
    font-weight: $font-weight-bolder;
    color: $black;
    background-color: $primary;
    padding: 16px 26px;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        color: $black;
        background-color: darken($color: $primary, $amount: 10%)
    }
}

.btn-secondary {
    color: $primary;
    background-color: $black;

    &:hover {
        color: $primary;
        background-color: lighten($color: $black, $amount: 20%);
    }
}

//DRUH NEHNUTELNOSTI


.box {
    display: block;
    padding: 4%;
    position: relative;
    text-align: center;
    border: 1px solid #ECECEC;
    transition: background-color 0.3s ease-in-out;

    p {
        color: $primary;
        margin-bottom: 0;
    }

    h6 {
        text-transform: uppercase;
        margin: 16px 0 0 0;
        transition: color 0.3s ease-in-out;
    }

    img {
        transition: -webkit-filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    }

    &::before {
        display: none;
        transition: opacity 0.3s ease-in-out;
    }
}

.box:hover {
    background-color: #2E2E2E;

    h6 {
        color: $primary;
    }

    img {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-image: url("../img/domy.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
}

.overlay {
    position: relative;
}

//PREMIUM
.premium, .o-nas {
    min-height: 700px;
    background-color: $secondary;
    overflow: hidden;

    .btn-primary {
        border: 2px solid black;
        background-color: transparent;
        padding: 13px 19px;

        &:hover {
            color: $black;
            background-color: darken($color: $primary, $amount: 10%)
        }

        h5 {
            font-size: 0.875rem;
            font-weight: $font-weight-bold;
        }
    }
}

.background-heading {
    position: absolute;
    font-size: 4.4rem;
    font-weight: $font-weight-bolder;
    color: $backgroundFont;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.premium-heading-wrap { 
    img {
    top: -4px;
    left: 12px;
    }

    p {
        font-weight: $font-weight-light;
    }
}

.premium-list {
    font-weight: $font-weight-normal;
    list-style: inside url("../img/list-style.svg");
    padding-left: 0;

    li {
        margin-bottom: 10px;
    }
}

.premium-price {
    display: inline-block;
    color: $yellow;
    font-weight: $font-weight-bolder;
    vertical-align: middle;
    margin-bottom: 0;
}

.premium-img {

    img {
    max-width: 100%;
    }
}

#exclusive-price {
    position: absolute;
    right: -10px;
    top: 15px;
    background-color: $yellow;
    color: $primary;
    font-weight: $font-weight-bolder;
    padding: 17px 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

//PONUKA
.ponuka {

    overflow: hidden;

    h3 {
    display: inline-block;
    margin-bottom: 67px;
    }
}

.card {
    height: 100%;
    background-color: $secondary;
    border-radius: 0px;
    padding: 0;
    border: none;

    a {
        color: $black;
        text-decoration: none;
    }
}

.card-image {
    img{
        width: 100%;
    }
}

.card-body {
    padding: 38px 28px 16px 28px;

    h6 {
        font-weight: $font-weight-bolder;
        margin-bottom: 19px;
    }

    p {
        font-weight: $font-weight-light;
        margin-bottom: 38px;
    }
}

.card-footer-wrap {

    p {
        font-weight: $font-weight-bold;
    }
}

#price {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    color: $primary;
    font-weight: $font-weight-bolder;
    background-color: $yellow;
    padding: 12px 28px;
    margin-bottom: 0;
}

#discount {
    position: absolute;
    right: -10px;
    top: 10px;
    background-color: $yellow;
    color: $primary;
    font-weight: $font-weight-bolder;
    padding: 10px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#badge {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 75px;
    height: 75px;
}

.ponuka-footer {
    .col {
        margin: auto 0;
    }

    .btn-primary {
        border: 2px solid black;
        background-color: transparent;
        padding: 13px 19px;

        &:hover {
            color: $black;
            background-color: darken($color: $primary, $amount: 10%)
        }

        h5 {
            font-size: 0.875rem;
            font-weight: $font-weight-bold;
        }
    }

    a {
        font-weight: $font-weight-light;
    }

    .active {
        font-weight: $font-weight-bolder;
    }
}

//O NÁS

.o-nas {
    .premium-img img {
        position: static;
    }

    .premium-heading {
        margin-top: 56px;
        padding-left: 0;
    }
}

//FOOTER
.footer {

    ul {
        list-style: none;
        font-weight: $font-weight-bold;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        margin-bottom: 15px;
    }

    b {
        color: $yellow;
    }

    > .row:last-of-type {
        font-size: 0.75rem;
        font-weight: $font-weight-light;

        a:hover {
            text-decoration: underline;
        }
    }
}

.facebook {
    position: absolute;
    top: 0px;
    left: -4px;
}

.footer-column {
    padding: 0px 30px;
}

.footer-column:nth-of-type(2) {

    h6 {
        font-size: 0.875rem;
        font-weight: $font-weight-bolder;
    }

    p {
        font-size: 0.875rem;
        font-weight: $font-weight-light;
    }
}

.footer-column:last-of-type a:hover {
    text-decoration: underline;
}

.small-font {
    font-size: 0.75rem;
}

// MEDIA QUERIES
@include media-breakpoint-up(sm) { 
    .heading{
        h1 {
            font-size: 3rem;
        }
    }
 }

@include media-breakpoint-up(md) { 

    //DRUH NEHNUTELNOSTI
    .box {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    //PREMIUM
    .background-heading {
        font-size: 9rem;
    }

    //FOOTER
    .footer-column {
        padding: 0px 20px;
    }
}

@include media-breakpoint-up(lg) { 
    
    //ÚVOD
    .nav-item {
        width: auto;
    }

    //DRUH NEHNUTELNSOTI
    .druh {
        position: relative;
    
        &::before {
            content: url("../img/decor.svg");
            position: absolute;
            left: -5%;
            top: -20%;
        }
    }

    //O NÁS
    .o-nas {
        .premium-img img {
            position: absolute;
            right: 0;
        }
    
        .premium-heading {
            margin-top: 0;
            padding-left: 71px;
        }
    }
    
    //PREMIUM
    .premium-img {
        
        img {
        max-width: 120%;
        }
    }

    #exclusive-price {
        right: -125px;
    }

    //PONUKA

    .ponuka > div:after {
        content: url("../img/decor.svg");
        position: absolute;
        right: -1%;
        top: 2%;
        z-index: -1;
    }

    //FOOTER
    .footer-column {
        padding: 0px 30px;
    }
}

@include media-breakpoint-up(xl) { 
     
    .container {
        max-width: 1196px;
    }

    //O NÁS
    .o-nas {
        .premium-heading {
            margin-top: 56px;
        }
    }

    //FOOTER
    .footer-column {
        padding: 0px 60px;
    }
}